<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-app>
  <div>
    Prénom : <input ng-model="prenom">
    {{prenom}}
    <button ng-if="$last">-</button>
  </div>
  <div>
    Prénom : <input ng-model="prenom" ng-list>
  </div>
  <p>
      Bonjour <span ng-bind="prenom"></span> !
  </p>
  <ul>
    <li ng-repeat="prenom in prenom" ng-bind="prenom"> </li>
  </ul>
  <script src="node_modules/angular/angular.js">
    
  </script>
</body>
</html>