<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-app="app">
  <div ng-controller="ListPrenomCtrl">
    <div>
      Prénom : <input ng-model="prenom"> 
      <button ng-click="ajouter()">+</button>
    </div>
      <p ng-repeat="prenom in prenoms">
        Bonjour <span ng-bind="prenom"></span> !
        <button ng-click="supprimer($index)">-</button>

    </p>
  </div>
  <script src="node_modules/angular/angular.js"></script>
  <script>
    angular.module('app',[])
      .controller('ListPrenomCtrl',function($scope){
        console.log(arguments);
        $scope.prenom='';
        $scope.prenoms= ['VLOL','DMAG'];
        $scope.ajouter=function(){
          $scope.prenoms.push($scope.prenom);
        }
        $scope.supprimer=function($index){
          $scope.prenoms.splice($index,1);
        }
      });
  </script>
</body>
</html>